.col-sm-4.col-md-offset-4.m-t-md
  %h1.section= t('form.sign_up.title')

  = simple_form_for(resource, as: resource_name, url: registration_path) do |f|
    = f.error_notification

    .form-inputs
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
      = f.input :profile_type, collection: [["Trabajo en un proyecto", :organization],
        ["Soy inversionista social", :investor],
        ["Me interesa colaborar con proyectos sociales", :collaborator]], required: true, :value_method => :second, selected: @user_type
      = f.input :terms_of_service, as: :boolean, input_html: { checked: 'checked' }

    .form-actions.text-right
      = f.button :submit, t('form.sign_up.submit')

-# = render "devise/shared/links"
