%h1.section= t('form.sign_up.title')

= simple_form_for(resource, as: resource_name, url: registration_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :role, collection: [:collaborator, :organization, :investor], required: true

  .form-actions.text-right
    = f.button :submit, t('form.sign_up.submit')

-# = render "devise/shared/links"
