<%= image_tag 'landing-video.png', width: '100%' %>

<div class="row section text-center">
  <h1>Reg&iacute;strate</h1>
</div>

<div class="row section">
  <div class="col-xs-12 col-sm-4 text-center">
    <%= link_to registration_new_path(:user_type => "collaborator") do %>
      <%= image_tag 'roles/collaborators_2x.png' %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    <%= link_to registration_new_path(:user_type => "organization") do %>
      <%= image_tag 'roles/organizations_2x.png' %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-4 text-center">
    <%= link_to registration_new_path(:user_type => "investor") do %>
      <%= image_tag 'roles/investors_2x.png' %>
    <% end %>
  </div>
</div>
