%h1.section= t('.forgot_password')
%h3= t('.new_instructions')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, required: true, autofocus: true

  .form-actions.text-right
    = f.button :submit, t('.reset_password')
