%div.container
  %div.row
    =  simple_form_for @collaborator do |f|

      .col-md-12
        = f.label I18n.t('simple_form.placeholders.collaborator.general_information')
        .row
          .col-md-1
          .col-md-10
            .row
              .col-md-8
                = f.input :name
              .col-md-4
                = f.input :email
            = f.input :type_collaborator, collection: %w{Asesor(a) Voluntario(a) Periodista},selected: "Asesor(a)", prompt: "Tipo de colaborador"
            = f.input :logo, label: "Adjunta tu logotipo."
            = link_to @collaborator.logo.file.filename, @collaborator.logo_url, target: '_blank' if @collaborator.logo?
            = f.input :description
            .row
              .col-md-6
                = f.input :causes_interest, collection: CAUSES, include_black: true, multiple: true,
                  input_html: { "data-placeholer" => I18n.t('simple_form.placeholders.collaborator.causes_interest'),
                  multiple: true, class: "chosen-select", tabindex: "2" }
              .col-md-6
                = f.input :other_causes
            .row
              .col-md-12
                = f.label I18n.t('simple_form.placeholders.collaborator.social_information')
            .row
              - [:site_url, :blog_url, :facebook_url, :twitter_url, :instagram_url, :youtube_url].each do |e|
                .col-md-4
                  = f.input e
      .col-md-9
      .col-md-3
        = f.button :submit, "Guardar colaborador"
