<h1>Completar registro</h1>


<div class="container">
  <div class="row">
    <%=  simple_form_for @collaborator do |f| %>
          <%= f.input :name %>
          <%= f.input :type_collaborator, collection: %w{Asesor(a) Voluntario(a) Periodista},
                      selected: "Asesor(a)", prompt: "Tipo de colaborador" %>
          <%= f.input :email %>
          <%= f.input :description %>
          <% [:site_url, :blog_url, :facebook_url, :twitter_url, :instagram_url, :youtube_url].each do |e| %>
              <%= f.input e %>
          <% end %>
          <%= f.button :submit, "Crear colaborador" %>
    <% end %>
  </div>
</div>
