.container
  .row
   
    =simple_form_for [@event.organization, @event] do |f|
      .col-md-12.main-form-section
        %h3= t('collaborator.form.sections.general_information')
       
        .row
          .col-md-6
            = f.input :image, label: t('simple_form.labels.collaborator.profile_image')
            = link_to @event.image.file.filename, @event.image_url, target: '_blank' if @event.image?
        .row
          .col-md-8
            = f.input :name    
        .row
          .col-md-12
            = f.input :description
        .row
          .co-md-12
            = f.date_field :date, :as => :datetime, order: [:day, :month, :year]
            
        .row
          .col-md-6
            = f.input :price
          .col-md-6
            = f.input :notes
       

        = f.button :submit, "Guardar Evento", class: 'pull-right'
