.profile-project
  .container
    //=image_tag "roles/proyectos_2x.png", :class => "profile-logo"
    %h1.inline.title= "Evento"

    .row
      .col-md-6
        .frame.center-block
          %img.center-block.logo{:src => @event.image.mid.url }
      .col-md-6
        %h1.title= @event.name

        %p.middle= "un evento de"
        %h2.subtitle= @event.organization.name

        %label= "Descripción"
        %p= @event.description

        %label= "Notas"
        %p= @event.notes

        %label= "Fecha"
        %p= @event.date

    .row