.container
  .row
    =  simple_form_for [@project.organization, @project] do |f|
      = f.input :name
      = f.input :goals, label: t('simple_form.labels.project.goals_html')
      = f.input :description, label: t('simple_form.labels.project.description_html')
      = f.input :status, collection: [["Activo", :active],
      ["Concluido", :finish]], required: true, :value_method => :second
      .col-md-12
        %h3.blue=t('.map_title')
        %div{:id=>"geolocation", :style=>'width: 100%; height: 400px;'}
      = f.input :direction, :onkeypress => "loading();"
      %div{:id=>"spinner", :class=>"spinner", :style=>"display:none;"}
        = image_tag "spinner.gif", class: "img-responsive center-block" ,:id=>"img-spinner"
      = f.input :comments_from_direction
      = f.input :name_of_owner
      = f.input :photo_project
      = link_to @project.photo_project.file.filename, @project.photo_project_url, target: '_blank' if @project.photo_project?
      = f.input :email
      = f.input :phone
      -[:website, :facebook, :twitter].each do |e|
        = f.input e
      = f.button :submit, "Crear proyecto"

:javascript
  $(document).ready(loadMap);
