- if current_user and current_user.profile.respond_to? :projects
  %a.pull-right.btn.btn-default{:href => new_polymorphic_path([current_user.profile, :project])}= "Inicia un nuevo proyecto"

%h1
  = image_tag 'roles/proyectos_2x.png', class: 'icon-title'
  = "Proyectos"

%p= "#{pluralize(@projects.count, "proyecto")} #{"encontrado".pluralize(@projects.count)}"

-@projects.each do |project|
  .col-md-4.col-sm-6
    = link_to polymorphic_path([project.projectable, project]), class: 'no-decoration' do
      .thumbnail.project-thumb
        .thumb.org-photo
          =image_tag project.photo_project.mid.url, style: "height:200px;"
        .caption
          %h3.title= truncate(project.name, length: 30)
          %label Organizaci&oacute;n
          %p= truncate(project.organization.name, length: 80)
