.profile-section
  .container
    =image_tag "roles/investors_2x.png", :class => "profile-logo"
    %h1.inline.title= "Inversionista/#{I18n.t("simple_form.options.investor.type_investor.#{@investor.type_investor}")}"

    .row
      .col-md-3.offset
        .frame.center-block
          %span.frame--helper
          = image_tag @investor.logo.mid.url, class: "center-block logo"

      .col-md-8.offset--text
        %h1.title= @investor.name
        %label= "Causas de interés"
        %p= "#{@investor.causes_supported.to_a.join(", ")}, #{@investor.other_causes}"
      
        %hr

        %h2.title= "Características de proyectos que sí apoyamos"
        .row
          - if @investor.investment_type.present?
            .col-md-12
              %label= "Tipo de apoyo"
              #{@investor.investment_type.present? ? @investor.investment_type : ""}
              #{@investor.voluntering ? "Voluntariado" : ""}
              #{@investor.money ? ", Dinero" : ""}
              #{@investor.specie ? ", Especies" : ""}
              #{@investor.service ? ", Servicios" : ""}
          .col-md-6
            %label= "Rango de montos"
            = number_to_currency @investor.amount
          .col-md-6
            %label= "Necesidad de contistución legal"
            = I18n.t("common.logic.#{@investor.constitution}_")
          .col-md-6
            %label= "Tipo de gasto autorizado"
            #{@investor.expense_type}
          .col-md-6
            %label= "Tiempo mínimo de constitución legal"
            #{@investor.legal_time}

        %hr

        .row
          .col-md-6
            %label= "Sitio web:"
            = link_to   truncate(@investor.site_url, length: 50),  @investor.site_url, target: '_blank', class: "social-url" if  @investor.site_url.present?
          .col-md-6
            %label= "Facebook:"
            = link_to   truncate(@investor.facebook_url, length: 50),  @investor.facebook_url, target: '_blank', class: "social-url" if  @investor.facebook_url.present?
          .col-md-6
            %label= "Twitter:"
            = link_to   truncate(@investor.twitter_url, length: 50),  @investor.twitter_url, target: '_blank', class: "social-url" if  @investor.twitter_url.present?
          .col-md-6
            %label= "Youtube:"
            = link_to   truncate(@investor.youtube_url, length: 50),  @investor.youtube_url, target: '_blank', class: "social-url" if  @investor.youtube_url.present?
          .col-md-6
            %label= "Instagram:"
            = link_to   truncate(@investor.instagram_url, length: 50),  @investor.instagram_url, target: '_blank', class: "social-url" if  @investor.instagram_url.present?
          .col-md-6
            %label= "Blog:"
            = link_to   truncate(@investor.blog_url, length: 50),  @investor.blog_url, target: '_blank', class: "social-url" if  @investor.blog_url.present?


        %hr

        
        .navbar-text-blanco
          - if current_user.present? 
            -if current_user.profile_type == "Organization"
              -if @projects.present? 
                %a-verde.m{"data-target" => "#myModalDialog", "data-toggle" => "modal", :href => ""}
                  %a.btn.btn-default= "Contactar"

                / Modal para explicar porque no hay más municipios
                / Button trigger modal
                #myModalDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalDialogLabel", :role => "dialog", :tabindex => "-1"}
                  .modal-dialog-center
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} &times;
                        %h4#myModalLabel.modal-title.bg-primary-verde.texto-verde= "Contacto"
                      .modal-body
                        =form_tag({:action => 'send_message'}, {:method => :post}) do 
                          .row-fluid
                            .row
                              .col-md-12
                                %h4 ¿Qué causa lo quieres contactar?
                                = select_tag "causes",options_for_select(@investor.causes_supported), class: "chosen-select"
                            .row
                              .col-md-12
                                %h4 ¿Para cuál de tus proyectos te interesa?
                                = select_tag "projects",options_for_select(@projects.map(&:name)), class: "chosen-select" if @projects.present?
                            
                            .row
                              .col-md-12
                                %h4 Comentarios:
                                %textarea#address_input.address{:name => "comments"}
                                %input.hidden{ :name => "name" , :value => @investor.name}
                                %input.hidden{ :name => "email" , :value => @investor.email}
                                %input.hidden{ :name => "id" , :value => @investor.id}
                                
            
                            %button.btn{"data-dismiss" => "modal", :type => "button"} Cerrar
                            = submit_tag "Enviar", class: "btn btn-default"  
              -else
                %a{name: "send", id: "send", value: "send" , class: "btn btn-default", role: "button"} Contactar
              -msj = I18n.t('simple_form.placeholders.investor.no_projects')

= render "layouts/organizations", title:  I18n.t('investor.show.projects_supported'), organizations: @organizations          

:javascript
  window.onload = function(){
    
     document.getElementById('send').onclick = function(e){
         alert("#{msj}");
         return false;
     }
  }       
