.profile-section
  .container
    =image_tag "roles/investors_2x.png", :class => "profile-logo"
    %h1.inline.title= "Inversionista/#{I18n.t("simple_form.options.investor.type_investor.#{@investor.type_investor}")}"

    .row
      .col-md-3.offset
        .frame.center-block
          
          %img.center-block.logo{:src => @investor.logo.mid.url }
      .col-md-8
        %h1.title= @investor.name
        %label= "Causas de interés"
        %p= @investor.causes_supported.to_a.join(", ")

        %hr

        %h2.title= "Caracteristicas de proyectos que si apoyamos"
        .row
          - unless @investor.investment_type.empty?
            .col-md-12
              %label= "Tipo de apoyo"
              #{@investor.investment_type}
          .col-md-6
            %label= "Rango de montos"
            = number_to_currency @investor.amount
          .col-md-6
            %label= "Necesidad de contistución legal"
            = I18n.t("common.logic.#{@investor.constitution}_")
          .col-md-6
            %label= "Tipo de gasto autorizado"
            #{@investor.expense_type}
          .col-md-6
            %label= "Tiempo minimo de constitución legal"
            #{@investor.legal_time}

        %hr

        .row
          .col-md-6
            %label= "Sitio web:"
            = link_to   truncate(@investor.site_url, length: 50),  @investor.site_url, target: '_blank', class: "social-url" if  @investor.site_url.present?
          .col-md-6
            %label= "Facebook:"
            = link_to   truncate(@investor.facebook_url, length: 50),  @investor.facebook_url, target: '_blank', class: "social-url" if  @investor.facebook_url.present?
          .col-md-6
            %label= "Twitter:"
            = link_to   truncate(@investor.twitter_url, length: 50),  @investor.twitter_url, target: '_blank', class: "social-url" if  @investor.twitter_url.present?
          .col-md-6
            %label= "Youtube:"
            = link_to   truncate(@investor.youtube_url, length: 50),  @investor.youtube_url, target: '_blank', class: "social-url" if  @investor.youtube_url.present?
          .col-md-6
            %label= "Instagram:"
            = link_to   truncate(@investor.instagram_url, length: 50),  @investor.instagram_url, target: '_blank', class: "social-url" if  @investor.instagram_url.present?
          .col-md-6
            %label= "Blog:"
            = link_to   truncate(@investor.blog_url, length: 50),  @investor.blog_url, target: '_blank', class: "social-url" if  @investor.blog_url.present?

        %hr

        %a.btn.btn-default= "Contactar"
