%h1= "Inversionistas"

%p= "#{pluralize(Organization.count, "inversionista", "inversionistas")} #{"encontrado".pluralize(Organization.count)}"


-@investors.each do |e|
  .col-md-4.col-sm-6
    %a.no-decoration{:href => investor_path(e) }
      .thumbnail.investor-thumb
        .thumb
          %img.center-block{ src: e.logo.mid.url}
        .caption
          %h3.title= e.name
          %label= "Causas de Interés"
          %p= e.causes_supported.to_a.join(", ")
