<h1>Completar registro</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <%=  simple_form_for @investor do |f| %>
          <%= f.input :name %>
          <%= f.input :type, collection: %w{Fundación Empresa Individuo},
                      selected: "Fundación", prompt: "Tipo de inversionista" %>
          <%= f.input :mantra %>
          <%= f.input :characteristics %>
          <% [:site_url, :blog_url, :facebook_url].each do |e| %>
              <%= f.input e %>
          <% end %>
          <%= f.button :submit %>
    <% end %>
    </div>
  </div>
</div>
