<h1>Completar registro</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
    <%=  simple_form_for @investor do |f| %>
          <%= f.input :name, label: "Nombre" %>
          <%= f.input :type_investor, collection: %w{Fundación Empresa Individuo},
                      selected: "Fundación", label: "Tipo de inversionista", prompt: "Tipo de inversionista" %>
          <%= f.input :email, label: "Email" %>
          <%= f.input :telephone, label: "Teléfono" %>
          <%= f.input :address, label: "Calle y número" %>
          <%= f.input :neighborhood, label: "Colonia" %>
          <%= f.input :city, label: "Ciudad" %>
          <%= f.input :zipcode, label: "Código postal" %>
          <%= f.input :mantra, label: "Misión" %>
          <%= f.input :characteristics, label: "Características de proyectos que apoya" %>
          <%= f.input :site_url, label: "Sitio web" %>
          <%= f.input :facebook_url, label: "Página de Facebook" %>
          <%= f.input :blog_url, label: "Blog" %>
          <%= f.button :submit, "Registrar inversionista" %>
    <% end %>
    </div>
  </div>
</div>
