= simple_form_for @organization do |f|
  .row
    .col-md-8
      = f.input :name
    .col-md-4
      = f.input :type_organization, collection: ORGANIZATION_TYPE,prompt: "Tipo de organización", selected: "ACs"


  .row
    .col-md-6
      = f.input :causes_interest, collection: CAUSES, include_blank: true, multiple: true, input_html: { "data-placeholder"=> I18n.t('simple_form.placeholders.organization.causes_interest'), multiple: true, class: "chosen-select", tabindex: "2"  }
  .row
    .col-md-4= f.input :rfc
    .col-md-2= f.input :foundation, collection: 1980..2016, selected: 2015
    .col-md-4
      = f.input :logo
      = link_to @organization.logo.file.filename, @organization.logo_url, target: '_blank' if @organization.logo?
  .row
    .col-md-12
      = f.input :mision

  .row
    .col-md-12
      = f.label I18n.t('simple_form.placeholders.organization.information_funding')
    .col-md-12.background-funding
      .row
        .col-md-1
        .col-md-2.checkbox-funding= f.input :has_funding_private
        .col-md-2.checkbox-funding= f.input :has_funding_public
        .col-md-2.checkbox-funding= f.input :has_funding_auto
        .col-md-2.checkbox-funding= f.input :has_funding_national
        .col-md-2.checkbox-funding= f.input :has_funding_international
      .row
        .col-md-1
        .col-md-2.checkbox-funding= f.input :rate_private, collection: 0..100, selected: 0
        .col-md-2
        .col-md-2
        .col-md-2.checkbox-funding= f.input :rate_national, collection: 0..100, selected: 0
        .col-md-2.checkbox-funding= f.input :rate_international, collection: 0..100, selected: 0
  .row
    .col-md-12
      = f.label I18n.t('simple_form.placeholders.organization.information')

      .row
        .col-md-4
          .col-md-10
            = f.input :address
          .col-md-2
            = f.check_box :show_address
        .col-md-4
          .col-md-10
            = f.input :colonia
          .col-md-2
            = f.check_box :show_colonia
        .col-md-4
          .col-md-10
            = f.input :town, collection: CITIES, include_black: false,input_html: { "data-placeholder"=> I18n.t('simple_form.placeholders.organization.city'), class: "chosen-select", tabindex: "2"  }
          .col-md-2
            = f.check_box :show_town
    .col-md-4
      .col-md-10
        = f.input :zip
      .col-md-2
        = f.check_box :show_zip
    .col-md-4
      .col-md-10
        = f.input :telephone
      .col-md-2
        = f.check_box :show_telephone
    .col-md-4
      .col-md-10
        = f.input :email
      .col-md-2
        = f.check_box :show_email
  .row
    .col-md-12
      = f.label I18n.t('simple_form.placeholders.organization.sites_url')
    .col-md-4= f.input :site
    .col-md-4= f.input :facebook
    .col-md-4= f.input :twitter
    .col-md-4= f.input :youtube
    .col-md-4= f.input :instagram
    .col-md-4= f.input :blog
  = f.button :submit, "Guardar organización"
