.map-profile
  .container
    .row
      %h3.title= "Encuéntranos:"

      .row
        .col-sm-7
          .map
            %div{:id=>"geolocation", :style=>'width: 100%; height: 250px;'}
        .col-sm-4
          %label
            %strong=  "Oficinas"
          - if @organization.show_address
            %p= @organization.address
          - if @organization.show_colonia
            %p= @organization.colonia
          - if @organization.show_town
            %p= "Municipio #{@organization.town}"
          - if @organization.show_zip
            %p= "C.P. #{@organization.zip}"


:javascript

  function loadMap(){
      handler = Gmaps.build('Google');
      infowindow = new google.maps.InfoWindow();
      handler.buildMap({provider: {scrollwheel: false}, internal: {id: 'geolocation'} }, function(){
        geocoder = new google.maps.Geocoder();
        user_has_location = #{@organization.lat.nil?};
        if(user_has_location){
          if(navigator.geolocation){
            navigator.geolocation.getCurrentPosition(displayOnMap);
          }
        }else{
          displayOnMap('loading')
        }
      });
    }


  function displayOnMap(position){
  console.log("#{@organization.lat.nil? ? 0 : @organization.lat },#{@organization.lng.nil? ? 0 : @organization.lng }");
      if(position!='loading'){
        marker = handler.addMarker({
        lat: position.coords.latitude,
        lng: position.coords.longitude
        },{ draggable: false});
        markersArray.push(marker);
        codeLatLng(position.coords.latitude,position.coords.longitude);
      }else{
          marker = handler.addMarker({
          lat: #{@organization.lat.nil? ? 0 : @organization.lat },
          lng: #{@organization.lng.nil? ? 0 : @organization.lng}
        },{ draggable: false});
          markersArray.push(marker);
          codeLatLng(#{@organization.lat.nil? ? 0 : @organization.lat },#{@organization.lng.nil? ? 0 : @organization.lng });
        }


      handler.map.centerOn(marker);
      handler.getMap().setZoom(18);
      google.maps.event.addListener(marker.serviceObject, 'dragend', function() {
        codeLatLng(this.getPosition().lat(),this.getPosition().lng());
      });

  }

  $(document).ready(loadMap);
