.profile-section
  .container
    =image_tag "organizations/gracias_2x.png", :class => "profile-logo"
    %h1.inline.title= "Organización"

    .row
      .col-md-3.offset
        .frame.center-block
          %span.frame--helper
          = image_tag @organization.logo.mid.url, class: 'center-block logo'
        %p  
        
        .col-md-2
        .col-md-8
          - if policy(@organization).update?
            .center-block.pagination-centered
              = link_to "Registrar Evento", new_organization_event_path(@organization), :class=>"btn btn-default"
             
      .col-md-8.offset--text
        %h1.title= @organization.name
        %label= "Misión, Visión, Valores y Objetivos generales"
        %p= @organization.mision

        %hr

        .row
          .col-md-6
            %label= "Causas:"
            #{@organization.causes_interest.join(", ")}
          .col-md-6
            %label= "Mejorando el mundo desde:"
            #{@organization.foundation}
          .col-md-6
            %label= "RFC:"
            #{@organization.rfc}
          .col-md-6
            %label= "Tipo:"
            #{@organization.type_organization}

        %hr

        %label= "Fuente de fondeo"
        %br
        Nacional #{@organization.rate_public}/Privada #{@organization.rate_private}
        %br
        -# %a.btn.btn-default= "Fondos a la vista"

        %hr

        .row
          .col-md-6
            %label= "Sitio web:"
            =link_to truncate(@organization.site, length: 50), @organization.site, target: "_blank", class: "social-url"
          .col-md-6
            %label= "Facebook:"
            =link_to truncate(@organization.facebook, length: 50), @organization.facebook, target: "_blank", class: "social_url"
          .col-md-6
            %label= "Twitter:"
            =link_to truncate(@organization.twitter, length: 50), @organization.twitter, target: "_blank", class: "social-url"
          .col-md-6
            %label= "Youtube:"
            =link_to truncate(@organization.youtube, length: 50), @organization.youtube, target: "_blank", class: "social-url"
          .col-md-6
            %label= "Instagram:"
            =link_to truncate(@organization.instagram, length: 50), @organization.instagram, target: "_blank", class: "social-url"

        %hr

        

        
        .navbar-text-blanco
          - if current_user.present? 
            -if current_user.profile_type == "Collaborator"
              
              %a-verde.m{"data-target" => "#myModalDialog", "data-toggle" => "modal", :href => ""}
                %a.btn.btn-default= "Contactar"

              / Modal para explicar porque no hay más municipios
              / Button trigger modal
              #myModalDialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalDialogLabel", :role => "dialog", :tabindex => "-1"}
                .modal-dialog-center
                  .modal-content
                    .modal-header
                      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                        %span{"aria-hidden" => "true"} &times;
                      %h4#myModalLabel.modal-title.bg-primary-verde.texto-verde= "Contacto"
                    .modal-body
                      =form_tag({:action => 'send_message'}, {:method => :post}) do 
                        .row-fluid
                          .row
                            .col-md-12
                              %h4 ¿Qué causa lo quieres contactar?
                              = select_tag "causes",options_for_select(@organization.causes_interest), class: "chosen-select"
                          .row
                            .col-md-12
                              %h4 ¿Cuál de sus proyectos te interesa?
                              = select_tag "projects",options_for_select(@organization.projects.map(&:name)), class: "chosen-select" if @organization.projects.present?
                          
                          .row
                            .col-md-12
                              %h4 Comentarios:
                              %textarea#address_input.address{:name => "comments"}
                              %input.hidden{ :name => "name" , :value => @organization.name}
                              %input.hidden{ :name => "email" , :value => @organization.email}
                              %input.hidden{ :name => "id" , :value => @organization.id}
                              
          
                          %button.btn{"data-dismiss" => "modal", :type => "button"} Cerrar
                          = submit_tag "Enviar", class: "btn btn-default"  
            

            -else
              %a{name: "send", id: "send", value: "send" , class: "btn btn-default", role: "button"} Contactar
              -msj = I18n.t('simple_form.placeholders.investor.no_organization')
          
          -else   
            =form_tag({:action => 'login'}, {:method => :post} ) do 
              = submit_tag "Contactar" ,class: "btn btn-default"
           
          


:javascript
  window.onload = function(){
    
     document.getElementById('send').onclick = function(e){
         alert("#{msj}");
         return false;
     }
  }        
                              
