<h1>Completar registro</h1>
<%= simple_form_for @organization do |f| %>
      <div class="row">
        <div class="col-md-8"><%= f.input :name %></div>
        <div class="col-md-4"><%= f.input :type_organization,
                     collection: ["ACs", "ABPs", "Colectivos", "Grupos"],
                     prompt: "Tipo de organización",
                     selected: "ACs" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4"><%= f.input :rfc %></div>
        <div class="col-md-2"><%= f.input :foundation, collection: 1980..2016, selected: 2015 %></div>
        <div class="col-md-4"><%= f.input :logo, label: "Adjunta tu logotipo." %></div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.input :mision %>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.label "Marca la información que no quieres hacer pública." %>
          <div class="row">
          <div class="col-md-4">
            <%= f.input :address %>
          </div>
          <div class="col-md-4">
            <%= f.input :colonia %>
          </div>
          <div class="col-md-4">
            <%= f.input :town, collection: CITIES, include_black: false,
                               input_html: { "data-placeholder"=> "Buscar municipio", class: "choosen-select", tabindex: "2"  } %>
          </div>
          </div>
        </div>
          <div class="col-md-4">
            <%= f.input :zip %>
          </div>
          <div class="col-md-4">
            <%= f.input :telephone %>
          </div>
          <div class="col-md-4">
            <%= f.input :email, input_html: { value: current_user.email } %>
          </div>

      </div>


      <div class="row">
        <div class="col-md-12">
          <%= f.label "Escribe las ligas a tu sitio y redes sociales" %>
        </div>

        <div class="col-md-4"><%= f.input :site %></div>
        <div class="col-md-4"><%= f.input :facebook %></div>
        <div class="col-md-4"><%= f.input :twitter %></div>

        <div class="col-md-4"><%= f.input :youtube %></div>
        <div class="col-md-4"><%= f.input :instagram %></div>
        <div class="col-md-4"><%= f.input :blog %></div>
      </div>

    <%= f.button :submit, "Crear organización" %>
<% end %>
