%h1 Completar registro
= simple_form_for @organization do |f|
  .row
    .col-md-8= f.input :name
    .col-md-4
      = f.input :type_organization,                          
        collection: ["ACs", "ABPs", "Colectivos", "Grupos"], 
        prompt: "Tipo de organización",                      
        selected: "ACs" 
                                  
  .row
    .col-md-4= f.input :rfc
    .col-md-2= f.input :foundation, collection: 1980..2016, selected: 2015
    .col-md-4= f.input :logo, label: "Adjunta tu logotipo."
  .row
    .col-md-12
      = f.input :mision
  .row
    .col-md-12
      = f.label "Marca la información que no quieres hacer pública."
      .row
        .col-md-4
          = f.input :address
        .col-md-4
          = f.input :colonia
        .col-md-4
          = f.input :town, collection: CITIES, include_black: false,                                         
            input_html: { "data-placeholder"=> "Buscar municipio", class: "choosen-select", tabindex: "2"  } 
    .col-md-4
      = f.input :zip
    .col-md-4
      = f.input :telephone
    .col-md-4
      = f.input :email, input_html: { value: current_user.email }
  .row
    .col-md-12
      = f.label "Escribe las ligas a tu sitio y redes sociales"
    .col-md-4= f.input :site
    .col-md-4= f.input :facebook
    .col-md-4= f.input :twitter
    .col-md-4= f.input :youtube
    .col-md-4= f.input :instagram
    .col-md-4= f.input :blog
  = f.button :submit, "Crear organización"