#footer.hidden-print
  .container
    .row.info__links
      .col-xs-12.col-sm-2
        = image_tag 'logoFooter_2x.png', style: 'height:110px;'
      .col-xs-12.col-sm-2
        %p.header Conoce
        %ul
          %li= link_to 'Causas', '#'
          %li= link_to 'Proyectos', '#'
          %li= link_to 'Organizaciones', '#'
      .col-xs-12.col-sm-2
        %p.header
        %ul
          %li= link_to 'Grupos', '#'
          %li= link_to 'Inversionistas', '#'
      .col-xs-12.col-sm-3
        %p.header
        %ul
          %li
            = link_to '#' do
              %span ¿Qu&eacute; es
              %span.first_accent Sociedad
              %span.fourth_accent Act&uacute;a
              %span ?
          %li= link_to '¿Quiénes somos?', '#'
          %li= link_to 'Políticas de uso', '#'
          %li= link_to 'Aviso de privacidad', tos_path
      .col-xs-12.col-sm-3
        %p.header Cont&aacute;ctanos
        %ul
          %li= mail_to 'hola@sociedadactua.org'
          %li 81 89 89 23 00
    -# .row
      .col-xs-12
        %p= link_to 'LIBRE USO MX', '#'
