#footer.hidden-print
  .container
    .row.info__links
      .col-xs-12.col-sm-3
        %p.header Conoce
        %ul
          %li= link_to 'Explora', '#'
          %li= link_to 'Causas', '#'
          %li= link_to 'Proyectos', '#'
          %li= link_to 'Organizaciones', '#'
      .col-xs-12.col-sm-3
        %p.header
        %ul
          %li= link_to 'Inversionistas', '#'
          %li= link_to 'Colaboradores', '#'
      .col-xs-12.col-sm-3
        %p.header
        %ul
          %li
            = link_to '#' do
              %span ¿Qu&eacute; es
              %span.first_accent Sociedad
              %span.fourth_accent Act&uacute;a
              %span ?
          %li= link_to '¿Quiénes somos?', '#'
      .col-xs-12.col-sm-3
        %p.header Cont&aacute;ctanos
        %ul
          %li= link_to 'Pasos y recursos', '#'
          %li= link_to 'Tablero de avances', '#'
    -# .row
      .col-xs-12
        %p= link_to 'LIBRE USO MX', '#'
