.footer.hidden-print
  .container
    .row.info__links
      .col-xs-12.col-sm-2
        = image_tag 'footer/logoFooter_2x.png', style: 'height:110px;'
      .col-xs-12.col-sm-2
        %p.header Conoce
        %ul
          -# %li= link_to 'Causas', '#/'
          %li= link_to 'Proyectos', projects_list_path, target: '_blank'
          %li= link_to 'Organizaciones', organizations_path, target: '_blank'
      .col-xs-12.col-sm-2
        %p.header
        %ul
          %li= link_to 'Grupos', organizations_path, target: '_blank'
          %li= link_to 'Inversionistas', investors_path, target: '_blank'
      .col-xs-12.col-sm-3
        %p.header
        %ul
          %li
            = link_to about_path do
              %span ¿Qu&eacute; es
              %span.first_accent Sociedad
              %span.fourth_accent Act&uacute;a
              %span ?
          -#%li= link_to '¿Quiénes somos?', '#'
          %li= link_to 'Políticas de uso', tos_path
          %li= link_to 'Aviso de privacidad', privacy_path
          %li= link_to 'Código Abierto', 'https://github.com/civica-digital/sociedad-actua/', target: '_blank'
      .col-xs-12.col-sm-3.pull-right
        %p.header Cont&aacute;ctanos
        %ul
          %li= mail_to 'hola@sociedadactua.org'
          %li 81 89 89 23 00
.footer.bg--hard-grey.hidden-print
  .container
    .row{style:'line-height:3;'}
      .col-xs-12.col-sm-3
        %p.light-grey Sociedad Act&uacute;a es un proyecto de
      .col-xs-12.col-sm-3
        = image_tag 'footer/consejo_civico_2x.png', style: 'height:50px;'
      .col-xs-12.col-sm-3
        = image_tag 'footer/comunidar_2x.png', style: 'height:50px;'
      .col-xs-12.col-sm-3
        %a{ rel:"license", href:"http://creativecommons.org/licenses/by-nc-sa/4.0/" }
          %img{alt:"Creative Commons License", style:"border-width:0", src:"https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"}
