.thumbs
  .container
    %h3.title= title

    .row
      - organizations.each do |p|
        .col-md-3.col-xs-6.thumb
          = link_to organization_path(p) do
            - if p.logo.blank?
              = image_tag p.logo.mid.url, class: 'logo img-responsive center-block thumb__placeholder'
            - else
              = image_tag p.logo.mid.url, class: 'logo img-responsive center-block'
            %h4.label_thumb= p.name

