%nav.sub-navbar.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", 'data-toggle'=> "collapse", 'data-target'=> "#navbar", 'aria-expanded'=> "false", 'aria-controls'=> "navbar" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.sub-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.boldest= link_to 'Explorar', root_path, class: 'navbar-brand'
        %li= link_to 'Organizaciones', organizations_path
        %li= link_to 'Proyectos', projects_list_path
        %li= link_to 'Inversionistas', investors_path
        %li= link_to 'Causas', '#'

      = form_tag(projects_list_path, method: :get, class: 'navbar-form navbar-left') do
        = text_field_tag(:q, nil, class: 'form-control inline', placeholder: "Busca proyectos por nombre, organización, descripción ó causas", style: 'width:400px !important')
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Ver Mapa', '#/'
