%nav.sub-navbar.navbar.navbar-default
  .container
    .navbar-header.search-bar
      = form_tag(projects_list_path, method: :get, class: 'navbar-form navbar-left') do
        .inner-addon.right-addon
          = text_field_tag(:q, nil, class: 'form-control inline', placeholder: "Busca proyectos por nombre, organización, descripción ó causas")
          %i{:class  => "glyphicon glyphicon-search "}
    #navbar.sub-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.boldest= link_to 'Explorar', root_path, class: 'navbar-brand'
        %li= link_to 'Organizaciones', organizations_path
        %li= link_to 'Proyectos', projects_list_path
        %li= link_to 'Inversionistas', investors_path

      = form_tag(projects_list_path, method: :get, class: 'navbar-form navbar-left') do
        .inner-addon.right-addon
          = text_field_tag(:q, nil, class: 'form-control inline', placeholder: "Busca proyectos por nombre, organización, descripción ó causas", style: 'width:400px !important')
          %i{:class  => "glyphicon glyphicon-search "}
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Ver Mapa', root_path(anchor: 'map')
