.text-right
  = render 'layouts/pretty_colors'

%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", 'data-toggle'=> "collapse", 'data-target'=> "#navbar", 'aria-expanded'=> "false", 'aria-controls'=> "navbar" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-logo
        = link_to root_path do
          = image_tag 'logo.png', class: 'img-responsive'
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          = render 'layouts/menu/session'
        - else
          = render 'layouts/menu/no_session'
