<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sociedad Actua" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sociedad Actua" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main" class="container" role="main">
      <div class="navigation">
        <!-- <%= render 'layouts/navigation' %> -->
        <%= render 'layouts/top_navbar' %>
      </div>

       <%= render 'layouts/messages' %>
       <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/ga' %>
  </body>
</html>
