!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=1024", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sociedad Actua"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Sociedad Actúa"}", :name => "description"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Dosis:400,500,700", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/social_tags'
  %body
    #main{:role => "main"}
      .navigation.container
        / <haml_loud> render &#39;layouts/navigation&#39; </haml_loud>
        = render 'layouts/top_navbar'
        = render 'layouts/sub_navbar' unless current_page?(root_path)

      .container
        = render 'layouts/messages'

      = yield :landing

      .container
        = yield
    = render 'layouts/footer'
    = render 'layouts/ga'
