!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=1024", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Sociedad Actua"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Sociedad Actúa"}", :name => "description"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Dosis:400,600,700", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//maps.google.com/maps/api/js?v=3.23", :type => "text/javascript"}
    %script{:src => "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js", :type => "text/javascript"}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'layouts/social_tags'
    = disqus_init
  %body
    #main{:role => "main"}
      .navigation.container-fluid
        / <haml_loud> render &#39;layouts/navigation&#39; </haml_loud>
        .container
          = render 'layouts/top_navbar'
          = render 'layouts/sub_navbar' unless current_page?(root_path)
          = render 'layouts/messages'

      = yield :landing

      - if content_for?(:no_container)
        = yield
      - else
        .container
          = yield

    %footer
      = render 'layouts/footer'

    = render 'layouts/ga'
